<!doctype html>
<html lang="zxx" class="js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title Tag  -->
	<title>Shopping website</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/Boardgame-web/static/assets/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	
		
	
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/bootstrap.css"> <!-- Bootstrap -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/font-awesome.css"> <!-- Font Awesome -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/themify-icons.css"> <!-- Themify Icons -->





	<script src="/Boardgame-web/static/assets/js/modernizr.js"></script> <!-- Modernizr -->
  	
</head>
<body>
<header>
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			<span aria-hidden="true"></span>
		</a>
		
		<ul>
			<li><a href="#0" class="active"><span>Home</span></a></li>
			<li><a href="#0"><span>Events</span></a></li>
			<li><a href="#0"><span>Services</span></a></li>
			<li><a href="#0"><span>Store</span></a></li>
			<li><a href="#0"><span>Contact</span></a></li>
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
</header>

	<!----------------------------------------------------------------------------------------------------------------->

	<!-- Slider Area -->
	
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="header">

				<div style="text-align: left; padding:40px;">
					<div class="header-logo">
						<div class="header_logo">
							<a href="index.html" ><img src="#" alt="logo"></a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-12">
						<div class="hero-text">
						<h1><span></span>Boardgame bán chạy nhất</h1>
							<p>Giới thiệu về boardgame <br> </p>
							<div class="button">
								<a href="#" class="btn">Shop Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
<!----------------------------------------------------------------------------------------------------------------->

<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section" style="padding-bottom:50px ;">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="#" alt="#"></a>
							</div>
							<p class="text">Thông tin liên hệ nè</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="/Boardgame-web/static/assets/images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->

	
<script src="/Boardgame-web/static/assets/js/jquery-2.1.4.js"></script>
<script src="/Boardgame-web/static/assets/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>