<!doctype html>
<html lang="zxx" class="js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title Tag  -->
	<title>Shopping website</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/Boardgame-web/static/assets/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	
		
	
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/bootstrap.css"> <!-- Bootstrap -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/font-awesome.css"> <!-- Font Awesome -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/themify-icons.css"> <!-- Themify Icons -->
	<link rel="stylesheet" href="/Boardgame-web/static/assets/css/menu.css"> <!-- Themify Icons -->




	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

		<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">


  	
</head>
<body>
	<div  class="open">
		<span class="cls"></span>
		<span>
			<div class="main-menu">
				<div id="div1">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<ul>
									<li><a href="#">Products</a></li>
									<li><a href="#">Info</a></li>
									<li><a href="#">Events</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li style="margin-top:220px;"><button class="addtocart">
										<div class="pretext">
										  <i class="fas fa-user-plus"></i> Login
										</div>
										
									  </button></li>
									<li><button class="addtocart">
										<div class="pretext">
										  <i class="fas fa-cart-plus"></i> Shopping cart
										</div>									
										
									  </button></li>									  
								</ul>
							</div>
						</div>
					</div>
		  		</div>
				<div id="div2">					
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<!-- Single Widget -->
								<div class="single-footer links">
									<h4>Information</h4>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Faq</a></li>
										<li><a href="#">Terms & Conditions</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Help</a></li>
									</ul>
								</div>
								<!-- End Single Widget -->
							</div>
							<div class="col-md-4">
								<!-- Single Widget -->
								<div class="single-footer links">
									<h4>Customer Service</h4>
									<ul>
										<li><a href="#">Payment Methods</a></li>
										<li><a href="#">Money-back</a></li>
										<li><a href="#">Returns</a></li>
										<li><a href="#">Shipping</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
								<!-- End Single Widget -->
							</div>
							<div class="col-md-4">
								<!-- Single Widget -->
								<div class="single-footer social">
									<h4>Get In Touch</h4>
									<!-- Single Widget -->
									<div class="contact">
										<ul>
											<li>Địa chỉ.</li>
											<li>070 Ho Chi Minh city.</li>
											<li>info@xom.com</li>
											<li>+012 345 6789</li>
										</ul>
									</div>
									<!-- End Single Widget -->
									<ul>
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-flickr"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
									</ul>
								</div>
								<!-- End Single Widget -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</span>
		
		<span class="cls"></span>
	</div>
	
	
		<!----------------------------------------------------------------------------------------------------------------->
	
		<!-- Slider Area -->
		
		<section class="hero-slider">
			<!-- Single Slider -->
			<div class="single-slider">
				<div class="header">
	
					<div style="text-align: left; padding:40px;">
						<div class="header-logo">
							<div class="header_logo">
								<a href="index.html" ><img src="#" alt="logo"></a>
							</div>
						</div>
					</div>
					
				</div>
				<div class="container">
							<div class="hero-text" style="text-align:left ;">
							<h1 style="text-align:left ;">Boardgame bán chạy nhất</h1>
								<p>Giới thiệu về boardgame <br> </p>
								<div class="button">
									<a href="#" class="btn">Shop Now!</a>
								</div>
					</div>
				</div>
			</div>
			<!--/ End Single Slider -->
		</section>
		<!--/ End Slider Area -->
	


		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="/Boardgame-web/static/assets/js/index.js"></script>
	
</body>
</html>