/*======================================
	1. Header CSS
========================================*/

/* Main Menu */
.header .nav li a i {
	margin-left: 6px;
	font-size: 10px;
}
/* Dropdown Menu custom ----------------*/
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	top: 100%;
	z-index: 999;
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	opacity: 0;
	visibility: hidden;
	padding: 10px;
	left: 0;
	margin: 0;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}

/* Shopping Cart icon-------------*/
.header .shopping {
	display: inline-block;
	z-index: 9999;
}
.header .shopping .icon {
	position: relative;
	cursor:pointer;
}
.header .shopping .shopping-item {
	position: absolute;
	top: 68px;
	right: 0;
	width: 300px;
	background: #fff;
	padding: 20px 25px;
	opacity:0;
	visibility:hidden;
	z-index:99;
}
.header .shopping:hover .shopping-item{
	transform: translateY(0px);
	opacity:1;
	visibility:visible;
}
/* Cart view -------------------*/
.header .shopping-list li {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
	margin-bottom: 15px;
	position:relative;
}

.header .shopping-list h4 a {
	font-weight: 600;
	font-size: 13px;
	color: #333;
}
.header .shopping-list h4 a:hover{
	color:#F7941D;
}
.header .shopping-item .bottom {
	text-align: center;
}
.header .shopping-item .total {
	overflow:hidden;
	display: block;
    padding-bottom: 10px;
}
.header .shopping-item .total span {
	text-transform:uppercase;
	color:#222;
	font-size:13px;
	font-weight:600;
	float:left;
}
.header .shopping-item .total .total-amount {
	float:right;
	font-size:14px;
}
/*------------------------------*/
.header.shop{
	background:#fff;
}

/* Header search bar */
.header.shop .search-bar-top {
	text-align: center;
	margin-top: 10px;
}
.header.shop .search-bar {
	margin-top: 10px;
	width: 460px;
	height: 40px;
	display: inline-block;
	background: #fff;
	position: relative;
}
.header.shop .search-bar form {
	display: inline-block;
	width: 300px;
}
.header.shop .search-bar input {
	height: 48px;
	background: transparent;
	color: #666;
	border-radius: 0;
	border: none;
	font-size: 14px;
	font-weight: 400;
	padding: 0 25px 0 20px;
	width: 328px;
}
/*Search icon*/
.header.shop .search-bar .btnn {
	height: 50px;
	line-height: 53px;
	width: 62px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #333333;
	position: absolute;
	right: -2px;
	top: -1px;
	border: none;
	border-radius: 0 5px 5px 0;
	transition: all 0.4s ease;
}
.header.shop .search-bar .btnn:hover{
	color:#fff;
	background:#F7941D;
}
/* Menu */
.header.shop .search-top {
	opacity: 1;
	visibility: visible;
	top: 0;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	top: 0;
}
.header.shop .middle-inner {
	padding: 20px 0;
	background: #fff;
	border-top: 1px solid #eee;
}
.header.shop .topbar p {
	color: #333;
}
.header.shop .menu-origin {
	float:none;
	display: inline-block;
}
/*Dropdown menu của shop*/
.header.shop .nav li {
	margin-right: 40px;
	float: left;
	position: relative;
}
/*Cách khoảng menu*/
.header.shop .nav li {
	margin-right:5px;
	position: relative;
	float: none;
}
/*---------------------------------------*/
.header.shop .header {
	background: #fff;
}
/*---------------------------------------*/
/*----------------------------*/
.header.shop .nav li a {
	color: #333;
	text-transform: capitalize;
	font-size: 15px;
	padding: 20px 15px;
	font-weight: 500;
	display: block;
	position: relative;
}
/*----------------------------*/

/*Các nút menu*/
.header.shop .nav li:hover a{
	color:#fff;
	background:#F7941D;
}
/*Dropdown menu của shop*/
.header.shop .nav li .dropdown li a {
	color: #333;
	padding: 8px 15px;
	font-weight: 400;
	background:#fff;
}
.header.shop .nav li .dropdown li a {
	font-weight: 400;
	font-size: 14px;
}
.header.shop .nav li .dropdown li a:hover{
	color:#F7941D;
}
.header.shop .right-bar {
	display: inline-block;
	padding: 0;
	margin: 0;
	top: 20px;
	position: relative;
}
/*--------------------------------------*/
/*Cart icon ----------------------------*/

.header.shop .right-bar .sinlge-bar .single-icon{
	font-size:20px;
	position:relative;
}
/* Đổi màu icon */
.header.shop .right-bar .sinlge-bar .single-icon:hover{
	color:#F7941D;
}

.header.shop .right-bar .sinlge-bar .single-icon .total-count {
	position: absolute;
	top: -7px;
	right: -8px;
	background: #f6931d;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	font-size: 11px;
}
.header.shop .right-bar .sinlge-bar{
	display:inline-block;
	margin-right:25px;
}
/* Shopping Cart icon-------------*/
.header .shopping {
	display: inline-block;
	z-index: 9999;
}
.header .shopping .icon {
	position: relative;
	cursor:pointer;
}
.header .shopping .shopping-item {
	position: absolute;
	top: 68px;
	right: 0;
	width: 300px;
	background: #fff;
	padding: 20px 25px;
	opacity:0;
	visibility:hidden;
	z-index:99;
}
.header .shopping:hover .shopping-item{
	transform: translateY(0px);
	opacity:1;
	visibility:visible;
}
/* Cart view -------------------*/
.header .shopping-list li {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
	margin-bottom: 15px;
	position:relative;
}

.header .shopping-list h4 a {
	font-weight: 600;
	font-size: 13px;
	color: #333;
}
.header .shopping-list h4 a:hover{
	color:#F7941D;
}
.header .shopping-item .bottom {
	text-align: center;
}
.header .shopping-item .total {
	overflow:hidden;
	display: block;
    padding-bottom: 10px;
}
.header .shopping-item .total span {
	text-transform:uppercase;
	color:#222;
	font-size:13px;
	font-weight:600;
	float:left;
}
.header .shopping-item .total .total-amount {
	float:right;
	font-size:14px;
}


/*-----------------------------------------*/

/* Header Search */
/* Search */
.header .search-top{
	display:none;
}
.header .search-top a{
	font-size:17px;
}
.header .search-top a:hover{
	color:#F7941D;
}
.header .search-form {
	position: absolute;
	left: -128px;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	top: 46px;
	background: #ffffff75;
	padding: 7px;
	border-radius: 5px;
	transform: scaleY(0);
	box-shadow: 0px 4px 7px #0000003b;
	padding: 0;
	border-radius: 0;
}
.header .search-top.active .search-form {
	opacity:1;
	visibility:visible;
	transform: scaleY(1);
}
.header .search-form input {
	width: 220px;
	height: 45px;
	line-height: 45px;
	padding: 0 60px 0 15px;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #333;
	border-radius: 0;
}
.header .search-form button {
	position: absolute;
	right: 0;
	height: 45px;
	top: 0;
	width: 45px;
	background: transparent;
	border: none;
	color: #3353ea;
	border-radius: 0 3px 3px 0;
	border-radius: 0;
	border-left: 1px solid #eee;
	font-size: 15px;
	color: #333;
}
.header .search-form button:hover{
	color:#fff;
	background:#F7941D;
	border-color:transparent;
}

/*======================================
	End Header CSS
========================================*/

/*======================================
   2.Hero Area CSS
========================================*/ 
/* CSS slideshow ở đây */
.hero-slider {
	background: #fff;
	overflow: hidden;
}
.hero-slider .single-slider {
	height: auto;
	background-image: url('https://via.placeholder.com/1900x700');
	background-size: cover;
	background-position: center;
    height: 510px;
}
/*---------------------------*/
.hero-slider .hero-text {
	padding: 0 30px;
	margin-top:100px;
}
.hero-slider .hero-text h1 {
	line-height: 50px;
	font-size: 47px;
	font-weight: 700;
	color: #F7941D;
	margin-bottom: 20px;
}
.hero-slider .hero-text h1 span {
	font-size: 20px;
	display: block;
	margin-bottom: 12px;
	color: #333;
	font-weight: 700;
	line-height: initial;
}
.hero-slider .hero-text p {
	color: #333;
	margin-bottom: 35px;
}

/*Shop now button*/
.hero-slider .hero-text .btn {
	color: #fff;
	background: #333;
	padding: 13px 30px;
	line-height: initial;
	border: none;
	height: auto;
	z-index: 0;
}
.hero-slider .hero-text .btn:hover{
	background:#F7941D;
	color:#fff;
}
/*======================================
   End Hero Area CSS
========================================*/ 


/*=============================
	About us
===============================*/

.aboutus-section{
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
}
.aboutus-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.aboutus-content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.aboutus-content-section .aboutus-title{
	font-size: 28px;
	color: #F7941D;
}
.aboutus-content-section .aboutus-content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.aboutus-content-section .aboutus-content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.aboutus-content-section .aboutus-content .button{
	margin-top: 20px;
}
.aboutus-content-section .aboutus-content .button a{
	background-color: #333;
	padding:13px 30px;
	text-decoration: none;
	color:#fff;
	font-size: 19px;
	line-height: initial;
	border: none;
	height: auto;


}
.aboutus-content-section .aboutus-content .button a:hover{
	background-color: #F7941D;
	color:#fff;
}
.aboutus-content-section .social{
	margin: 40px 40px;
}
.aboutus-content-section .social i{
	color:#F7941D;
	font-size: 30px;
	padding:0px 10px;
}
.aboutus-content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
/*=============================
	End About us
===============================*/

/*=============================
	Event
===============================*/
#DIV_1 {
    block-size: 442px;
    box-sizing: border-box;
    display: flex;
    height: 442px;
    inline-size: 936.8px;
    text-size-adjust: 100%;
    width: 1160px;
}/*#DIV_1*/

#DIV_3 {
	/*Thẻ 1*/
    background-position: 50% 50%;
    block-size: 440px;
    box-sizing: border-box;
    height: 440px;
    position: relative;
    text-size-adjust: 100%;
    width: 580px;
    background: rgba(0, 0, 0, 0) url("static/assets/images/hinhanh.png") no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
}/*#DIV_3*/

#A_4 {
    block-size: 440px;
    box-sizing: border-box;
    display: block;
    height: 440px;
    inline-size: 580px;
    opacity: 0.5;
    position: absolute;
    text-size-adjust: 100%;
    width: 580px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 123, 255);
    font: 15px / 22.5px Arial, sans-serif;
}/*#A_4*/

#DIV_5 {
    align-items: flex-start;
    block-size: 440px;
    box-sizing: border-box;
    display: flex;
    height: 440px;
    inline-size: 580px;
    justify-content: flex-end;
    text-size-adjust: 100%;
    width: 580px;
    border: 0px none rgb(102, 102, 102);
    flex-flow: column nowrap;
    padding: 20px 25px;
}/*#DIV_5*/

#A_6 {
    block-size: 20.8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 20.8px;
    inline-size: 68.6375px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    text-size-adjust: 100%;
    width: 68.6375px;
    z-index: 3;
    border: 1px solid rgb(255, 255, 255);
    font: 14px / 16.8px Roboto-Regular;
    padding: 2px 5px 0px;
    transition: all 0.3s ease 0s;
}/*#A_6*/

#H3_7 {
    block-size: 72px;
    box-sizing: border-box;
    inline-size: 416.4px;
    margin-block-end: 10px;
    margin-block-start: 14px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    text-size-adjust: 100%;
    z-index: 3;
    margin: 14px 0px 10px;
}/*#H3_7*/

#A_8 {
    block-size: 72px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: -webkit-box;
    height: 72px;
    inline-size: 416.4px;
    max-block-size: 72px;
    max-height: 72px;
    max-inline-size: 100%;
    max-width: 100%;
    text-size-adjust: 100%;
    width: 416.4px;
    font: 500 30px / 36px Roboto-Medium;
}/*#A_8*/

#A_8:hover {
    block-size: 72px;
    box-sizing: border-box;
    color: #F7941D;
    display: -webkit-box;
    height: 72px;
    inline-size: 416.4px;
    max-block-size: 72px;
    max-height: 72px;
    max-inline-size: 100%;
    max-width: 100%;
    text-size-adjust: 100%;
    width: 416.4px;
    font: 500 30px / 36px Roboto-Medium;
}/*#A_8*/

#DIV_13, #DIV_14 {
    block-size: 442px;
    box-sizing: border-box;
    display: flex;
    height: 442px;
    text-size-adjust: 100%;
    width: 600px;
    flex-flow: row wrap;
    margin: 0px -1px;
	flex: 0 0 50%;
    padding: 0px 1px;
}/*#DIV_13,#DIV_14*/

#DIV_16 {
	/*Thẻ 2*/
    background-position: 50% 50%;
    block-size: 244px;
    box-sizing: border-box;
    height: 244px;
    position: relative;
    text-size-adjust: 100%;
    width: 580px;
    background: rgba(0, 0, 0, 0) url("static/assets/images/hinhanh.png") no-repeat scroll 50% 50% / cover padding-box border-box;
    font: 15px / 22.5px Arial, sans-serif;
}/*#DIV_16*/

#A_17 {
    block-size: 244px;
    box-sizing: border-box;
    display: block;
    height: 244px;
    opacity: 0.5;
    position: absolute;
    text-size-adjust: 100%;
    width: 580px;
    z-index: 2;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)) repeat scroll 0% 0% / auto padding-box border-box;
    font: 15px / 22.5px Arial, sans-serif;
}/*#A_17*/

#DIV_18 {
    align-items: flex-start;
    block-size: 244px;
    box-sizing: border-box;
    display: flex;
    height: 244px;
    inline-size: 580px;
    justify-content: flex-end;
    text-size-adjust: 100%;
    width: 580px;
    flex-flow: column nowrap;
    padding: 24px 25px;
}/*#DIV_18*/

#A_19 {
    block-size: 20.8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 20.8px;
    text-size-adjust: 100%;
    width: 56.55px;
    z-index: 3;
    border: 1px solid rgb(255, 255, 255);
    font: 14px / 16.8px Roboto-Regular;
    padding: 2px 5px 0px;
}/*#A_19*/

#H3_20 {
    block-size: 54px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 54px;
    text-size-adjust: 100%;
    width: 416.4px;
    z-index: 3;
    border: 0px none rgb(102, 102, 102);
    font: 500 15px / 22.5px Arial, sans-serif;
    margin: 14px 0px 0px;
}/*#H3_20*/

#A_21 {
    block-size: 54px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: -webkit-box;
    height: 54px;
    text-size-adjust: 100%;
    width: 416.4px;
    font: 500 22px / 28px Roboto-Medium;
}/*#A_21*/
#A_21:hover {
    block-size: 54px;
    box-sizing: border-box;
    color: #F7941D;
    display: -webkit-box;
    height: 54px;
    text-size-adjust: 100%;
    width: 416.4px;
    font: 500 22px / 28px Roboto-Medium;
}/*#A_21*/

#DIV_22, #DIV_29 {
	/*Thẻ 3 4*/
    block-size: 580px;
    box-sizing: border-box;
    height: 290px;
    max-width: 50%;
    position: relative;
    text-size-adjust: 100%;
    width: 580px;
    flex: 0 0 50%;
    font: 15px / 22.5px Arial, sans-serif;
    padding: 1px;
}/*#DIV_22, #DIV_29*/

#DIV_23 {
    background-position: 50% 50%;
    block-size: 194px;
    box-sizing: border-box;
    height: 194px;
    position: relative;
    text-size-adjust: 100%;
    width: 290px;
    background: rgba(0, 0, 0, 0) url("static/assets/images/hinhanh.png") no-repeat scroll 50% 50% / cover padding-box border-box;
    font: 15px / 22.5px Arial, sans-serif;
}/*#DIV_23*/

#A_24, #A_31 {
    block-size: 194px;
    box-sizing: border-box;
    display: block;
    height: 194px;
    opacity: 0.5;
    position: absolute;
    text-size-adjust: 100%;
    width: 290px;
    z-index: 2;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)) repeat scroll 0% 0% / auto padding-box border-box;
    font: 15px / 22.5px Arial, sans-serif;
}/*#A_24, #A_31*/

#DIV_25, #DIV_32 {
    align-items: flex-start;
    block-size: 194px;
    box-sizing: border-box;
    display: flex;
    height: 194px;
    justify-content: flex-end;
    text-size-adjust: 100%;
    width: 290px;
    flex-flow: column nowrap;
    font: 15px / 22.5px Arial, sans-serif;
    padding: 20px 25px;
}/*#DIV_25, #DIV_32*/

#A_26 {
    block-size: 20.8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 20.8px;
    text-size-adjust: 100%;
    touch-action: manipulation;
    width: 68.8375px;
    z-index: 3;
    border: 1px solid rgb(255, 255, 255);
    font: 14px / 16.8px Roboto-Regular;
    padding: 2px 5px 0px;
}/*#A_26*/

#H3_27, #H3_34 {
    block-size: 45px;
    box-sizing: border-box;
    height: 45px;
    text-size-adjust: 100%;
    width: 182.2px;
    z-index: 3;
    font: 500 15px / 22.5px Arial, sans-serif;
    margin: 14px 0px 0px;
}/*#H3_27, #H3_34*/

#A_28, #A_35 {
    block-size: 45px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: -webkit-box;
    height: 45px;
    inline-size: 182.2px;
    max-block-size: 45px;
    max-height: 45px;
    text-size-adjust: 100%;
    width: 182.2px;
    font: 500 16px / 24px Roboto-Medium;
}/*#A_28, #A_35*/

#A_28:hover, #A_35:hover {
    block-size: 45px;
    box-sizing: border-box;
    color: #F7941D;
    display: -webkit-box;
    height: 45px;
    inline-size: 182.2px;
    max-block-size: 45px;
    max-height: 45px;
    text-size-adjust: 100%;
    width: 182.2px;
    font: 500 16px / 24px Roboto-Medium;
}/*#A_28, #A_35*/

#DIV_30 {
	background-position: 50% 50%;
    block-size: 194px;
    box-sizing: border-box;
    height: 194px;
    position: relative;
    text-size-adjust: 100%;
    width: 290px;
    background: rgba(0, 0, 0, 0) url("static/assets/images/hinhanh.png") no-repeat scroll 50% 50% / cover padding-box border-box;
    font: 15px / 22.5px Arial, sans-serif;
}/*#DIV_30*/

#A_33 {
    block-size: 20.8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 20.8px;
    text-size-adjust: 100%;
    width: 45.8px;
    z-index: 3;
    border: 1px solid rgb(255, 255, 255);
    font: 14px / 16.8px Roboto-Regular;
    padding: 2px 5px 0px;
}/*#A_33*/

/*=============================
	End Events
===============================*/


/*=============================
	4. Start Footer CSS
===============================*/
.footer{
	background:#222;
}
.footer .about {
	padding-right: 50px;
}
.footer .single-footer h4 {
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.footer .about .logo{
	margin-bottom:20px;
}
.footer .about .logo img{}
.footer .about .text{
	color:#fff;
	font-weight: 400;
}
.footer .about .call {
	color: #fff;
	margin-top: 15px;
	font-weight: 400;
}
.footer .about .call span{
	display: block;
}
.footer .about .call a {
	color: #f7941d;
	font-size: 20px;
	font-weight: 600;
}
.footer .links ul{}
.footer .links ul li {
	display: block;
	margin-bottom: 8px;
}
.footer .links ul li:last-child{
	margin-bottom:0;
}
.footer .links ul li a{
	color:#fff;
	font-weight: 400;
}
.footer .links ul li a:hover{
	color:#F7941D;
	padding-left:10px;
}
.footer .social{}
.footer .social .contact{}
.footer .social .contact ul{}
.footer .social .contact ul li {
	color: #fff;
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
}
.footer .contact ul li:last-child{
	margin-bottom:0;
}
.footer .social ul {
	margin-top: 20px;
}
.footer .social ul li{
	display:inline-block;
	margin-right:25px;
}
.footer .social ul li:last-child{
	margin-right:0;
}
.footer .social ul li a{
	color:#fff;
	display:block;
	font-size:16px;
}
.footer .social ul li a:hover{
	color:#F7941D;
}
/* Copyright */
.footer .copyright{
	
}
.footer .copyright .inner{
	border-top:1px solid #eeeeee3d;
	padding:20px 0;
}
.footer .copyright .left{}
.footer .copyright .right{
	float:right;
}
.footer .copyright p{
	color:#fff;
}
.footer .copyright p a{
	color:#fff;
	text-decoration:underline;
}
/*=============================
	End Footer CSS
===============================*/