html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

a {
  color: #333;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

/*======================================
  Header CSS
========================================*/
.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.open:hover {
  opacity: 1;
}
.open span {
  display: block;
  float: left;
  clear: both;
  height: 2px;
  width: 30px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*3 que*/
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.open span:nth-child(2) {
  margin-top: 25px;
}
.open span:nth-child(3) {
  margin-top: 40px;
}

.main-menu {
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(252, 120, 5, 0.54);
  border-radius: 100%;
  z-index: 18;
  overflow: hidden;
}
#div1{
  overflow: hidden;
}

#div1 li {
  font-size: 20px;
  float: left;
  clear: both;
  height: auto;
  margin-left: 160px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#div1 li:first-child {
  margin-top: 180px;
}
#div1 li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
#div1 li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
#div1 li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
#div1 li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
#div1 li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
#div1 ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  line-height: 1.5;
  font-weight: 750;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  text-transform: uppercase;
  padding-left: 50px;
}
#div1 li a:hover {
  color: #6329e9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
  height:80px;
  display: block;

}

#div1 ul li a:after{
  display: block;
  top: 50%;
  content: '';
  height: 10px;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.2;
  transition: width 250ms linear;
}
#div1 ul li a:hover:after{
  width: 100%;
}





#div1 ul li .fa-cart-plus{
  background:#6329e9;
}

#div1 ul li .addtocart{
  display:block;
  padding:5px 10px 5px 10px;
  border-radius:100px;
  border:none;
  font-size:30px;
  position:relative;
  background:#6329e9;
  cursor:pointer;
  height:60px;
  width:300px;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
  margin:25px;
}
#div1 ul li.addtocart:hover{
  transform:scale(1.1);
}
#div1 ul li.pretext{
  color:#fff;
  background:#6329e9;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}
#div1 ul li i{
  margin-right:10px;
}
#div1 ul li.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
#div1 ul li.posttext{
  background:#be2edd;
}
#div1 ul li.fa-check{
  background:#be2edd;
}


.oppenned .main-menu {
  opacity: 1;
  height: 1200px;
  width: 1200px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 1400px;
  width: 1400px;
  right: -250px;
  top: -200px;
  border-radius: 50%;
  background-color: rgba(238, 150, 56, 0.54);
}
.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}

/*======================================
	End Header CSS
========================================*/

/*======================================
   Hero Area CSS
========================================*/ 
/* CSS slideshow ở đây */
.hero-slider {
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.hero-slider .single-slider {
	background-image: url('https://via.placeholder.com/1900x700');
	background-size: cover;
	background-position: center;
    height: 100vh;
}
/*---------------------------*/
.hero-slider .hero-text {
	padding: 0;
	margin-top:100px;
}
.hero-slider .hero-text h1 {
	line-height: 50px;
	font-size: 47px;
	font-weight: 700;
	color: #F7941D;
}
.hero-slider .hero-text h1 span {
	font-size: 20px;
	display: block;
	color: #333;
	font-weight: 700;
	line-height: initial;
}
.hero-slider .hero-text p {
	color: #333;
	margin-bottom: 35px;
}

/*Shop now button*/
.hero-slider .hero-text .btn {
	color: #fff;
	background: #333;
	padding: 13px 30px;
	line-height: initial;
	border: none;
	height: auto;
	z-index: 0;
}
.hero-slider .hero-text .btn:hover{
	background:#F7941D;
	color:#fff;
}
/*======================================
   End Hero Area CSS
========================================*/ 


/*=============================
	 Start Footer CSS
===============================*/

#div2{
  padding-left:0%;
  padding-top: 100px;
  width:100%;
}
#div2 .single-footer h4 {
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
}
#div2 .about .logo{
	margin-bottom:20px;
}
#div2 .about .logo img{}
#div2 .about .text{
	color:#fff;
	font-weight: 400;
}
#div2 .about .call {
	color: #fff;
	margin-top: 15px;
	font-weight: 400;
}
#div2 .about .call span{
	display: block;
}
#div2 .about .call a {
	color: #6329e9;
	font-size: 20px;
	font-weight: 600;
}
#div2 .links ul{}
#div2 .links ul li {
	display: block;
	margin-bottom: 8px;
}
#div2 .links ul li:last-child{
	margin-bottom:0;
}
#div2 .links ul li a{
	color:#fff;
	font-weight: 400;
}
#div2 .links ul li a:hover{
	color:#6329e9;
	padding-left:10px;
}
#div2 .social{}
#div2 .social .contact{}
#div2 .social .contact ul{}
#div2 .social .contact ul li {
	color: #fff;
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
}
#div2 .contact ul li:last-child{
	margin-bottom:0;
}
#div2 .social ul {
	margin-top: 20px;
}
#div2 .social ul li{
	display:inline-block;
	margin-right:25px;
}
#div2 .social ul li:last-child{
	margin-right:0;
}
#div2 .social ul li a{
	color:#fff;
	display:block;
	font-size:16px;
}
#div2 .social ul li a:hover{
	color:#6329e9;
}
/* Copyright */

#div2 .copyright .inner{
	border-top:1px solid #eeeeee3d;
	padding:20px 0;
}
#div2 .copyright .left{}
#div2 .copyright .right{
	float:right;
}
#div2 .copyright p{
	color:#fff;
}
#div2 .copyright p a{
	color:#fff;
	text-decoration:underline;
}

#div2 .social{}
#div2 .social .contact{}
#div2 .social .contact ul{}
#div2 .social .contact ul li {
	color: #fff;
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
}
#div2 .contact ul li:last-child{
	margin-bottom:0;
}
#div2 .social ul {
	margin-top: 20px;
}
#div2 .social ul li{
	display:inline-block;
	margin-right:25px;
}
#div2 .social ul li:last-child{
	margin-right:0;
}
#div2 .social ul li a{
	color:#fff;
	display:block;
	font-size:16px;
}
#div2 .social ul li a:hover{
	color:#6329e9;
}
/*=============================
	End Footer CSS
===============================*/